{% extends 'base.html.twig' %}


{% block title %}Vos informations{% endblock %}


{% block body %}
<div class="container" style="center">
<br><br><br>
    <h1 style="center">Vos informations</h1>
    <br><br><br>

    <table class="table table-primary">
        <tbody>

            <tr>
                <th>Nom_cdt</th>
                <td>{{ c_d_t.nomCdt }}</td>
            </tr>
            <tr>
                <th>Prenom_cdt</th>
                <td>{{ c_d_t.prenomCdt }}</td>
            </tr>
            <tr>
                <th>Email_cdt</th>
                <td>{{ c_d_t.emailCdt }}</td>
            </tr>
            <tr>
                <th>Num_cdt</th>
                <td>{{ c_d_t.numCdt }}</td>
            </tr>

        </tbody>
    </table>

    <br><br>

    <a href="{{ path('c_d_t_edit', {'id': c_d_t.id}) }}"><button type="button" class="btn btn-dark btn-lg">edit</button></a>

    
</div>
{% endblock %}
