{% extends 'base.html.twig' %}

{% block title %}Ent index{% endblock %}

{% block body %}
    <h1>Ent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_ent</th>
                <th>Mail_ent</th>
                <th>Site_ent</th>
                <th>Adresse_ent</th>
                <th>Num_ent</th>
                <th>Ville_ent</th>
                <th>Img_logo_ent</th>
                <th>Description_ent</th>
                <th>Date_creation_ent</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ent in ents %}
            <tr>
                <td>{{ ent.id }}</td>
                <td>{{ ent.nomEnt }}</td>
                <td>{{ ent.mailEnt }}</td>
                <td>{{ ent.siteEnt }}</td>
                <td>{{ ent.adresseEnt }}</td>
                <td>{{ ent.numEnt }}</td>
                <td>{{ ent.villeEnt }}</td>
                <td>{{ ent.imgLogoEnt }}</td>
                <td>{{ ent.descriptionEnt }}</td>
                <td>{{ ent.dateCreationEnt ? ent.dateCreationEnt|date('Y-m-d') : '' }}</td>
                <td>{{ ent.password }}</td>
                <td>
                    <a href="{{ path('ent_show', {'id': ent.id}) }}">show</a>
                    <a href="{{ path('ent_edit', {'id': ent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ent_new') }}">Create new</a>
{% endblock %}
