{% extends 'base.html.twig' %}

{% block title %}Ent{% endblock %}

{% block body %}
    <h1>Ent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ent.id }}</td>
            </tr>
            <tr>
                <th>Nom_ent</th>
                <td>{{ ent.nomEnt }}</td>
            </tr>
            <tr>
                <th>Mail_ent</th>
                <td>{{ ent.mailEnt }}</td>
            </tr>
            <tr>
                <th>Site_ent</th>
                <td>{{ ent.siteEnt }}</td>
            </tr>
            <tr>
                <th>Adresse_ent</th>
                <td>{{ ent.adresseEnt }}</td>
            </tr>
            <tr>
                <th>Num_ent</th>
                <td>{{ ent.numEnt }}</td>
            </tr>
            <tr>
                <th>Ville_ent</th>
                <td>{{ ent.villeEnt }}</td>
            </tr>
            <tr>
                <th>Img_logo_ent</th>
                <td>{{ ent.imgLogoEnt }}</td>
            </tr>
            <tr>
                <th>Description_ent</th>
                <td>{{ ent.descriptionEnt }}</td>
            </tr>
            <tr>
                <th>Date_creation_ent</th>
                <td>{{ ent.dateCreationEnt ? ent.dateCreationEnt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ ent.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ent_index') }}">back to list</a>

    <a href="{{ path('ent_edit', {'id': ent.id}) }}">edit</a>

    {{ include('ent/_delete_form.html.twig') }}
{% endblock %}
