{{ form_start(form) }}
<div class="container">

    {{ form_row(form.object, {'label':'Métier' , 'attr': {'placeholder': 'Saisir le nom ...'}, }) }}
    {{ form_row(form.description, {'label':'Description' , 'attr': {'placeholder': 'Saisir la description du métier chercher ...'}}) }}
    {{ form_row(form.entreprise, {'label':'Entreprise' , 'attr': {'placeholder': 'Saisir nom entreprise ...'}}) }}

    <br>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

</div>
{{ form_end(form) }}



