{% extends 'base.html.twig' %}


{% block title %}Postuler{% endblock %}

{% block body %}
<div class="container" style="center">
<br><br>
    <h1>Postuler</h1>
    <br><br><br><br>
    <table class="table table-success">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ article.object }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ article.entreprise }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('articles_index') }}"><button type="button" class="btn btn-success">back to list</button></a>
    <br><br><br>
      
<div class="container btn-success" style="center">
{{ form_start(formPostuler) }}
    {{ form_row(formPostuler.entreprise, {'label':'Entreprise' , 'value': article.entreprise  }) }}
    {{ form_row(formPostuler.emeteur, {'label':'ton email' , 'attr': {'placeholder': 'taper ton email ...'}}) }}
    {{ form_row(formPostuler.name,) }}
{{ form_end(formPostuler) }}
</div>
<br><br><br>
</div>

{% endblock %}
